In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('PR_PF_1900086.csv')

In [3]:
data

,PLATFORM_CODE,DATE (YYYY-MM-DDTHH:MI:SSZ),DATE_QC,LATITUDE (degree_north),LONGITUDE (degree_east),POSITION_QC,PRES (decibar),PRES_QC,PSAL (psu),PSAL_QC,TEMP (degree_Celsius),TEMP_QC,PRES_ADJUSTED (decibar),PRES_ADJUSTED_QC,TEMP_ADJUSTED (degree_Celsius),TEMP_ADJUSTED_QC,PSAL_ADJUSTED (psu),PSAL_ADJUSTED_QC
0,1900086,2001-07-24T11:07:31Z,1,-31.399,48.037,1,7.0,1,35.731,1,19.091,1,3.4,1,19.091,1,35.731,1
1,1900086,2001-07-24T11:07:31Z,1,-31.399,48.037,1,9.0,1,35.730,1,19.091,1,5.4,1,19.091,1,35.730,1
2,1900086,2001-07-24T11:07:31Z,1,-31.399,48.037,1,19.3,1,35.730,1,19.105,1,15.7,1,19.105,1,35.730,1
3,1900086,2001-07-24T11:07:31Z,1,-31.399,48.037,1,29.4,1,35.730,1,19.107,1,25.8,1,19.107,1,35.730,1
4,1900086,2001-07-24T11:07:31Z,1,-31.399,48.037,1,39.1,1,35.730,1,19.110,1,35.5,1,19.110,1,35.730,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1415,1900086,2002-05-01T12:05:29Z,1,-32.390,46.177,1,1699.3,1,34.579,1,2.976,1,1695.4,1,2.976,1,34.579,1
1416,1900086,2002-05-01T12:05:29Z,1,-32.390,46.177,1,1799.0,1,34.611,1,2.838,1,1795.1,1,2.838,1,34.611,1
1417,1900086,2002-05-01T12:05:29Z,1,-32.390,46.177,1,1898.7,1,34.642,1,2.743,1,1894.8,1,2.743,1,34.642,1
1418,1900086,2002-05-01T12:05:29Z,1,-32.390,46.177,1,1999.2,1,34.684,1,2.612,1,1995.3,1,2.612,1,34.684,1
1419,1900086,2002-05-01T12:05:29Z,1,-32.390,46.177,1,2008.8,1,34.686,1,2.610,1,2004.9,1,2.610,1,34.686,1

In [5]:
index = data['DATE (YYYY-MM-DDTHH:MI:SSZ)'].unique()

In [7]:
float_number = data.iloc[0,0]

In [26]:
agg_data = {
    'float_number': []
    ,'date':[]
    ,'latitude':[]
    ,'longitude':[]
    ,'q0_psal':[]
    ,'q1_psal':[]
    ,'q2_psal':[]
    ,'q3_psal':[]
    ,'q4_psal':[]
    ,'q0_temp':[]
    ,'q1_temp':[]
    ,'q2_temp':[]
    ,'q3_temp':[]
    ,'q4_temp':[]
}


for i in index:
    subset = data[data['DATE (YYYY-MM-DDTHH:MI:SSZ)']==i]
    agg_data['float_number'].append(float_number)
    agg_data['date'].append(i)
    agg_data['latitude'].append(subset['LATITUDE (degree_north)'].iloc[0])
    agg_data['longitude'].append(subset['LONGITUDE (degree_east)'].iloc[0])
    q0 = min(subset['PRES (decibar)'])
    q1 = min(subset['PRES (decibar)'], key=lambda x:abs(x-500))
    q2 = min(subset['PRES (decibar)'], key=lambda x:abs(x-1000))
    q3 = min(subset['PRES (decibar)'], key=lambda x:abs(x-1500))
    q4 = max(subset['PRES (decibar)'])
    agg_data['q0_psal'].append(subset[subset['PRES (decibar)']==q0]['PSAL (psu)'].iloc[0])
    agg_data['q1_psal'].append(subset[subset['PRES (decibar)']==q1]['PSAL (psu)'].iloc[0])
    agg_data['q2_psal'].append(subset[subset['PRES (decibar)']==q2]['PSAL (psu)'].iloc[0])
    agg_data['q3_psal'].append(subset[subset['PRES (decibar)']==q3]['PSAL (psu)'].iloc[0])
    agg_data['q4_psal'].append(subset[subset['PRES (decibar)']==q4]['PSAL (psu)'].iloc[0])
    agg_data['q0_temp'].append(subset[subset['PRES (decibar)']==q0]['TEMP (degree_Celsius)'].iloc[0])
    agg_data['q1_temp'].append(subset[subset['PRES (decibar)']==q1]['TEMP (degree_Celsius)'].iloc[0])
    agg_data['q2_temp'].append(subset[subset['PRES (decibar)']==q2]['TEMP (degree_Celsius)'].iloc[0])
    agg_data['q3_temp'].append(subset[subset['PRES (decibar)']==q3]['TEMP (degree_Celsius)'].iloc[0])
    agg_data['q4_temp'].append(subset[subset['PRES (decibar)']==q4]['TEMP (degree_Celsius)'].iloc[0])
agg_data = pd.DataFrame(agg_data)
agg_data['date'] = pd.to_datetime(agg_data['date'])
agg_data['date'] = agg_data['date'].dt.strftime('%Y-%m-%d')

In [27]:
pd.DataFrame(agg_data)

,float_number,date,latitude,longitude,q0_psal,q1_psal,q2_psal,q3_psal,q4_psal,q0_temp,q1_temp,q2_temp,q3_temp,q4_temp
0,1900086,2001-07-24,-31.399,48.037,35.731,35.260,34.456,34.534,34.693,19.091,13.130,6.331,3.169,2.541
1,1900086,2001-08-04,-31.108,48.335,35.731,35.281,34.452,34.528,34.698,19.212,13.221,6.241,3.213,2.542
2,1900086,2001-08-14,-30.943,48.341,35.714,35.208,34.497,34.525,34.692,19.122,12.803,6.826,3.260,2.570
3,1900086,2001-08-24,-30.964,48.233,35.683,35.221,34.468,34.528,34.697,19.954,12.826,6.427,3.252,2.543
4,1900086,2001-09-13,-31.161,48.206,35.660,35.228,34.493,34.527,34.692,20.358,12.902,6.717,3.260,2.578
5,1900086,2001-09-23,-31.318,48.096,35.686,35.211,34.475,34.518,34.695,18.736,12.742,6.545,3.284,2.560
6,1900086,2001-10-03,-31.628,47.892,35.718,35.142,34.474,34.525,34.696,19.080,12.305,6.459,3.236,2.557
7,1900086,2001-10-13,-31.697,47.795,35.702,35.157,34.477,34.543,34.691,19.975,12.415,6.538,3.177,2.580
8,1900086,2001-10-23,-31.741,47.855,35.669,35.194,34.473,34.513,34.698,20.602,12.655,6.498,3.257,2.561
9,1900086,2001-11-02,-31.774,47.866,35.730,35.162,34.471,34.519,34.698,19.591,12.427,6.488,3.191,2.580
10,1900086,2001-11-12,-31.911,47.980,35.702,35.189,34.460,34.507,34.695,20.987,12.619,6.336,3.297,2.589
11,1900086,2001-12-02,-32.111,47.786,35.669,35.093,34.487,34.513,34.685,21.535,11.979,6.458,3.223,2.599
12,1900086,2001-12-22,-32.388,47.396,35.512,35.188,34.521,34.507,34.688,23.408,12.627,7.079,3.300,2.603
13,1900086,2002-01-31,-32.859,46.483,35.723,35.259,34.516,34.481,34.669,23.027,13.088,7.047,3.437,2.596
14,1900086,2002-02-10,-32.789,46.339,35.196,35.262,34.532,34.493,34.664,23.447,13.103,7.296,3.359,2.602
15,1900086,2002-02-20,-32.639,46.145,35.385,35.189,34.493,34.484,34.674,23.531,12.641,6.759,3.404,2.577
16,1900086,2002-03-02,-32.498,46.099,35.586,35.194,34.506,34.500,34.683,23.931,12.704,6.941,3.325,2.572
17,1900086,2002-03-22,-32.493,46.192,35.748,35.234,34.546,34.509,34.676,22.769,12.863,7.401,3.551,2.602
18,1900086,2002-04-21,-32.284,46.143,35.691,35.293,34.539,34.476,34.679,21.738,13.331,7.397,3.522,2.615
19,1900086,2002-05-01,-32.390,46.177,35.621,35.285,34.518,34.494,34.686,23.186,13.271,7.137,3.465,2.610