In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('PR_PF_1900086.csv')

In [3]:
data

,PLATFORM_CODE,DATE (YYYY-MM-DDTHH:MI:SSZ),DATE_QC,LATITUDE (degree_north),LONGITUDE (degree_east),POSITION_QC,PRES (decibar),PRES_QC,PSAL (psu),PSAL_QC,TEMP (degree_Celsius),TEMP_QC,PRES_ADJUSTED (decibar),PRES_ADJUSTED_QC,TEMP_ADJUSTED (degree_Celsius),TEMP_ADJUSTED_QC,PSAL_ADJUSTED (psu),PSAL_ADJUSTED_QC
0,1900086,2001-07-24T11:07:31Z,1,-31.399,48.037,1,7.0,1,35.731,1,19.091,1,3.4,1,19.091,1,35.731,1
1,1900086,2001-07-24T11:07:31Z,1,-31.399,48.037,1,9.0,1,35.730,1,19.091,1,5.4,1,19.091,1,35.730,1
2,1900086,2001-07-24T11:07:31Z,1,-31.399,48.037,1,19.3,1,35.730,1,19.105,1,15.7,1,19.105,1,35.730,1
3,1900086,2001-07-24T11:07:31Z,1,-31.399,48.037,1,29.4,1,35.730,1,19.107,1,25.8,1,19.107,1,35.730,1
4,1900086,2001-07-24T11:07:31Z,1,-31.399,48.037,1,39.1,1,35.730,1,19.110,1,35.5,1,19.110,1,35.730,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1415,1900086,2002-05-01T12:05:29Z,1,-32.390,46.177,1,1699.3,1,34.579,1,2.976,1,1695.4,1,2.976,1,34.579,1
1416,1900086,2002-05-01T12:05:29Z,1,-32.390,46.177,1,1799.0,1,34.611,1,2.838,1,1795.1,1,2.838,1,34.611,1
1417,1900086,2002-05-01T12:05:29Z,1,-32.390,46.177,1,1898.7,1,34.642,1,2.743,1,1894.8,1,2.743,1,34.642,1
1418,1900086,2002-05-01T12:05:29Z,1,-32.390,46.177,1,1999.2,1,34.684,1,2.612,1,1995.3,1,2.612,1,34.684,1
1419,1900086,2002-05-01T12:05:29Z,1,-32.390,46.177,1,2008.8,1,34.686,1,2.610,1,2004.9,1,2.610,1,34.686,1

In [5]:
index = data['DATE (YYYY-MM-DDTHH:MI:SSZ)'].unique()

In [7]:
float_number = data.iloc[0,0]

In [12]:
agg_data = {
    'float_number': []
    ,'date':[]
    ,'latitude':[]
    ,'longitude':[]
    ,'q0_psal':[]
    ,'q1_psal':[]
    ,'q2_psal':[]
    ,'q3_psal':[]
    ,'q4_psal':[]
    ,'q0_temp':[]
    ,'q1_temp':[]
    ,'q2_temp':[]
    ,'q3_temp':[]
    ,'q4_temp':[]
}


for i in index:
    agg_data['float_number'].append(float_number)
    agg_data['date'].append(i)
    agg_data['latitude'].append(data[data['DATE (YYYY-MM-DDTHH:MI:SSZ)']==i]['LATITUDE (degree_north)'].iloc[0])
    agg_data['longitude'].append(data[data['DATE (YYYY-MM-DDTHH:MI:SSZ)']==i]['LONGITUDE (degree_east)'].iloc[0])
    q0 = min(data[data['DATE (YYYY-MM-DDTHH:MI:SSZ)']==i]['PRES (decibar)'])
    q1 = min(data[data['DATE (YYYY-MM-DDTHH:MI:SSZ)']==i]['PRES (decibar)'], key=lambda x:abs(x-500))
    q2 = min(data[data['DATE (YYYY-MM-DDTHH:MI:SSZ)']==i]['PRES (decibar)'], key=lambda x:abs(x-1000))
    q3 = min(data[data['DATE (YYYY-MM-DDTHH:MI:SSZ)']==i]['PRES (decibar)'], key=lambda x:abs(x-1500))
    q4 = max(data[data['DATE (YYYY-MM-DDTHH:MI:SSZ)']==i]['PRES (decibar)'])

7.0 499.1 999.3 1499.2 2005.4
7.8 499.3 999.4 1499.3 2005.8
8.2 499.5 999.4 1499.6 2012.3
7.8 499.4 999.3 1499.3 2006.6
8.2 499.0 999.4 1499.6 2004.9
8.1 499.1 999.3 1499.4 2000.4
8.4 499.5 999.1 1499.3 2003.1
8.2 499.2 999.3 1499.1 2008.0
8.2 499.3 999.3 1498.8 2007.3
8.1 499.5 999.2 1499.5 2005.7
8.2 499.5 999.5 1499.1 2010.9
8.4 499.5 999.2 1499.3 2004.1
8.4 499.4 999.3 1499.3 2008.8
8.0 499.2 999.2 1499.4 2005.9
8.5 499.2 998.5 1499.6 2001.9
8.2 499.5 999.4 1499.3 2000.9
8.4 499.5 999.5 1499.1 2009.5
8.1 499.1 999.3 1499.4 2003.2
8.4 499.1 999.3 1498.9 2002.2
8.3 499.4 999.6 1498.8 2008.8

In [11]:
min(data[data['DATE (YYYY-MM-DDTHH:MI:SSZ)']==index[0]]['PRES (decibar)'])

7.0